@model IEnumerable<SimpleEmpCRUDAJAX.Models.EmployeeDetails>

@{
    ViewData["Title"] = "EmployeeDetails";
}

@section scripts{

    <script src="d:\ajax_crud_proj\simpleempcrudajax\simpleempcrudajax\employeejs\employee.js"></script>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

}



<h1>EmployeeDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDetails", new { emp=item }) |
                    @Html.ActionLink("Details", "Details") |
                    @Html.ActionLink("Delete", "Delete")
                </td>
            </tr>
        }
    </tbody>
</table>


@* 
<div>
    @Html.ActionLink("Back To List","Back")
</div> *@

